@import './../colors.scss';
@import './../mixins.scss';

.GMCalendar {
	width: 800px;
	@include pad(0, 10%);
	display: flex;
	flex-direction: column;
	justify-content: center;

	h2 {
		margin-bottom: 15px;
	}

	.popup {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba($color: #000000, $alpha: 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 999;

		& > div {
			position: relative;
			width: 500px;
			background-color: $black;
			border: 1px solid $bleen;
			border-radius: 15px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@include pad(10px);
		}

		.close {
			position: absolute;
			top: 10px;
			right: 20px;
		}

		.action {
			align-self: flex-end;

			&.delete:not(:hover) {
				background-color: red;
			}
		}

		.info {
			width: 100%;
			margin: {
				top: 10px;
				bottom: 10px;
			}
			display: flex;
			flex-direction: column;

			& > div {
				display: flex;

				span:first-of-type {
					margin-right: 10px;
				}
			}
		}

		.new {
			align-self: flex-start;

			div {
				display: flex;
				flex-direction: column;
				width: 100%;

				label {
					margin-left: 10px;
				}

				input {
					width: 100%;
				}
			}

			.select-game {
				position: relative;
				width: 100%;

				& > button {
					width: 100%;
					border: 1px solid $bleen;
					border-radius: 5px;
					margin: 8px;
					padding: 10px 12px;
					font-size: 18px;
					color: white;
					justify-content: flex-start;
				}

				& > div {
					position: absolute;
					background-color: $black;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
					top: 80%;
					left: 8px;
					z-index: 1200;

					& > button {
						justify-content: flex-start;
						padding: 8px;
						border-left: 1px solid $bleen;
						border-right: 1px solid $bleen;

						&:last-of-type {
							border-bottom: 1px solid $bleen;
							border-bottom-left-radius: 5px;
							border-bottom-right-radius: 5px;
						}

						&:hover {
							color: white;
							background-color: rgba($color: white, $alpha: 0.3);
						}
					}
				}
			}
		}
	}
}

.GMList {
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	width: 100%;
	@include pad(0, 10%);

	.gameMaster {
		display: flex;
		padding: 20px;
		border: 1px solid $bleen;
		border-radius: 15px;
		width: 100%;

		&:not(:last-of-type) {
			margin-bottom: 15px;
		}
	}

	.GMInfos,
	.GMCalendarPreview {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.GMInfos {
		justify-content: flex-start;
		align-items: flex-start;

		& > div {
			display: flex;
			flex-direction: column;
		}
	}

	.GMCalendarPreview {
		justify-content: center;
		align-items: center;
	}

	h2,
	h3 {
		margin: {
			top: 5px;
			bottom: 5px;
		}
	}

	h2 {
		display: flex;
		align-items: flex-end;

		svg {
			font-size: 60px;
			margin-right: 8px;
		}
	}

	button {
		margin-top: 20px;
	}
}
